body{
    padding: 0;
    margin: 0;
    background-color: #3C4147;
    /* background-color: #01A2C3; */
    font-family: Arial, Helvetica, sans-serif;
}
#main{
    background-color: #2D3238;
    width: 320px;
    /* padding: 30px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0 rgb(0, 0, 0, 0.50);
    transition: all 0.3s ease-in-out;
}
#logincontainer, #registercontainer{
    padding: 30px;
}
.form-control{
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.inputbox:focus{
    outline-style: auto;
    outline-width: 3px;
    outline-color: #01A2C3;
}
.inputbox{
    height: 35px;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
#main:hover{
    box-shadow: 8px 8px 10px 0 rgb(0, 0, 0, 0.50);

}
.btn{
    width: 100%;
    height: 35px;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
}
.btn-primary{
    background-color: #01A2C3;
    color: #fff;
}
#login-tab, 
#register-tab{
    padding: 10px;
    width: 45%;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
.active{
    background-color: #01A2C3;
}
.textcenter{
    text-align: center;
}
.signuptxt,
.forgettxt{
    font-size: 12px;
    margin: 10px 0;
    color: #fff;
}
.link{
    text-decoration: none;
    color: #2195F3;
}
